- @review ||= Review.new
%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        = link_to @video.large_cover.url, nil do 
          = image_tag @video.large_cover.url
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span= format_average_rating(@video.average_rating)
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="#") Watch Now
          - unless current_user.video_already_queued?(@video)
            = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: "btn btn-default"
%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for [@video, @review] do |f|
        = f.errors_on :user_id
        %fieldset
          .row
            .col-sm-3
              = f.select :rating, options_for_review_ratings, label: "Rate this video"
          .row
            .col-sm-8
              = f.text_area :content, rows: 6, label: "Write Review"
        %fieldset.form-group.actions.clearfix
          = f.submit "Submit"
          = link_to "Cancel", video_path(@video)
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.all.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p
                  by
                  = link_to review.user.name, review.user
              .col-sm-8
                %p= review.content